mixin cartPricing
    - const price = (user && !error) ? user?.cart?.prices : undefined
    .cart.pointer.price $#{price ? price : 0}.00

mixin totalLength
    - const length = (user && !error) ? user.cart?.products?.length : undefined
    span(class=`${length ? 'header__nav__option__notification' : ''}`) #{length ? length : ''}



//- Overlay
#preloder
    .loader
.offcanvas-menu-overlay
    .offcanvas-menu-wrapper
        .offcanvas__option
            .offcanvas__links
                if (user && !error)
                    - var UserName = user.name.split(' ')[0]
                    a(href='#') Welcome #{UserName}
                else
                    a(href='#') Sign in
                    a(href='#') FAQs
            .offcanvas__top__hover
                span
                    | Usd 
                    i.arrow_carrot-down
                ul
                    li USD
                    li EUR
                    li USD
        .offcanvas__nav__option
            a.search-switch(href='#')
                img(src='/img/icon/search.png' alt='')
            a(href='#')
                img.like(src='/img/icon/heart.png' alt='')
            a.cart.pointer
                .cart.pointer
                    img(src='/img/icon/cart.png' alt='')
                    +totalLength
            +cartPricing
        #mobile-menu-wrap
        .offcanvas__text
            p Free shipping, 30-day return or refund guarantee.
        //- Offcanvas Menu End
header.header
    .header__top
        .container
            .row
                .col-lg-6.col-md-7
                    .header__top__left
                        p Free shipping, 30-day return or refund guarantee.
                .col-lg-6.col-md-5
                    .header__top__right
                        .header__top__links
                            if (user)
                                - var UserName = user.name.split(' ')[0]
                                a(href='#') Welcome #{UserName}
                            else
                                a(href='#') Sign in
                                a(href='#') FAQs
                        .header__top__hover
                            span
                                | Usd 
                                i.arrow_carrot-down
                            ul
                                li USD
                                li EUR
                                li USD
    .container
        .row
            .col-lg-3.col-md-3
                .header__logo
                    a(href='/')
                        img(src='/img/logo.png' alt='')
            .col-lg-6.col-md-6
                nav.header__menu.mobile-menu
                    //- input.header__menu__search(type="search")
            .col-lg-3.col-md-3
                .header__nav__option
                    a.search-switch(href='#')
                        img(src='/img/icon/search.png' alt='')
                    a.like
                        img(src='/img/icon/heart.png' alt='')
                    a.cart.pointer
                        .cart.pointer
                            img(src='/img/icon/cart.png' alt='')
                            +totalLength
                    +cartPricing
        .canvas__open
            i.fa.fa-bars
//- Header Section End