extends base

block content 

    //- Breadcrumb Section Begin
    section.breadcrumb-option
        .container
            .row
                .col-lg-12
                    .breadcrumb__text
                        h4 All Orders
                        .breadcrumb__links
                            a(href='/') Home
                            span Orders
    //- Breadcrumb Section End

    //- All Orders Section Start
    section.shopping-cart.spad
        .container
            .row
                .col-lg-8
                    .shopping__cart__table
                        table
                            thead
                                tr
                                    th Product
                                    th Quantity
                                    th Total
                                    th Status
                            tbody
                            each cart in orderedProducts
                                tr
                                    td.product__cart__item
                                        .product__cart__item__pic
                                            a(href=`/products/${cart.product.product.slug}` target='_blank')
                                                img.product__cart__item__pic__small(src=`${cart.product.product.preview}`)
                                        .product__cart__item__text
                                            h6= cart.product.product.name
                                            h5 $#{cart.product.product.price}
                                    td.quantity__item
                                        .quantity
                                            h5= cart.product.quantity
                                    td.cart__price $ #{cart.product.product.price * cart.product.quantity}
                                    td.quantity__item
                                        .quantity
                                            - const status = orders.orders[cart.index]?.status
                                            h5= status
    //- All Orders Section End
