extends base

block content

    // Shop Details Section Begin
    section.shop-details
        .product__details__pic
            .container
                .row
                    .col-lg-12
                        .product__details__breadcrumb
                            a(href='./index.html') Home
                            a(href='./shop.html') Shop
                            span Product Details
                .row
                    .col-lg-3.col-md-3
                        ul.nav.nav-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(data-toggle='tab' href='#tabs-1' role='tab')
                                    .product__thumb__pic.set-bg(data-setbg='/img/shop-details/thumb-1.png')
                            li.nav-item
                                a.nav-link(data-toggle='tab' href='#tabs-2' role='tab')
                                    .product__thumb__pic.set-bg(data-setbg='/img/shop-details/thumb-2.png')
                            li.nav-item
                                a.nav-link(data-toggle='tab' href='#tabs-3' role='tab')
                                    .product__thumb__pic.set-bg(data-setbg='/img/shop-details/thumb-3.png')
                            li.nav-item
                                a.nav-link(data-toggle='tab' href='#tabs-4' role='tab')
                                    .product__thumb__pic.set-bg(data-setbg='/img/shop-details/thumb-4.png')
                                        i.fa.fa-play
                    .col-lg-3.col-md-9
                        .tab-content
                            #tabs-1.tab-pane.active(role='tabpanel')
                                .product__details__pic__item
                                    img(src='/img/shop-details/product-big-2.png' alt='')
                            #tabs-2.tab-pane(role='tabpanel')
                                .product__details__pic__item
                                    img(src='/img/shop-details/product-big-3.png' alt='')
                            #tabs-3.tab-pane(role='tabpanel')
                                .product__details__pic__item
                                    img(src='/img/shop-details/product-big.png' alt='')
                            #tabs-4.tab-pane(role='tabpanel')
                                .product__details__pic__item
                                    img(src='/img/shop-details/product-big-4.png' alt='')
                                    a.video-popup(href='https://www.youtube.com/watch?v=8PJ3_p7VqHw&list=RD8PJ3_p7VqHw&start_radio=1')
                                        i.fa.fa-play
                    .col-lg-6.col-md-9
                        .product__details__text
                            .is-hidden.product__id= product._id
                            .row.half-bottom
                                h4.pull-left.col-lg-8= product.name
                                .rating.pull-right
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star
                                    i.fa.fa-star-o
                                    span  - 5 Reviews
                            h3
                                | $ #{product.price}.00
                                span #{2 * product.price}
                            .add-bottom
                            p
                                | Coat with quilted lining and an adjustable hood. Featuring long sleeves with adjustable
                                | cuff tabs, adjustable asymmetric hem with elastic side tabs and a front zip fastening
                                | with placket.
                        .row.add-bottom.add-top
                            .product__details__option__size.half-left
                                span Size:
                                label(for='xxl')
                                    | xxl
                                    input#xxl(type='radio')
                                label.active(for='xl')
                                    | xl
                                    input#xl(type='radio')
                                label(for='l')
                                    | l
                                    input#l(type='radio')
                                label(for='sm')
                                    | s
                                    input#sm(type='radio')
                            .product__details__option__color
                                span Color:
                                label.c-1(for='sp-1')
                                    input#sp-1(type='radio')
                                label.c-2(for='sp-2')
                                    input#sp-2(type='radio')
                                label.c-3(for='sp-3')
                                    input#sp-3(type='radio')
                                label.c-4(for='sp-4')
                                    input#sp-4(type='radio')
                                label.c-9(for='sp-9')
                                    input#sp-9(type='radio')
                        .add-bottom.add-top
                            .product__details__cart__option
                                .quantity
                                    .pro-qty
                                        input.product__quantity(type="text" value="1")
                                .spinner-border.loading__spinner.hide(role='status')
                                    span.sr-only Loading...
                                a(href="#" class="primary-btn addToCart") add to cart
                                a(href="#" class="primary-btn half-left") Buy now 
                                .alert.add-top.hide(role='alert')
                                    a.alert-link TEMPLATE
                            .product__details__btns__option.align-center.add-top
                                a(href="#")
                                    i.fa.fa-heart 
                                    | add to wishlist
                            //-     a(href="#")
                            //-         i.fa.fa-exchange 
                            //-         | Add To Compare
        .product__details__content
            .container
                .row.d-flex.justify-content-center
                    .col-lg-8
                .row
                    .col-lg-12
                        .product__details__tab
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab' href='#tabs-5' role='tab') Description
                                li.nav-item
                                    a.nav-link(data-toggle='tab' href='#tabs-6' role='tab')
                                        | Customer
                                        | Previews(5)
                                li.nav-item
                                    a.nav-link(data-toggle='tab' href='#tabs-7' role='tab')
                                        | Additional
                                        | information
                            .tab-content
                                #tabs-5.tab-pane.active(role='tabpanel')
                                    .product__details__tab__content
                                        p.note
                                            | Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                            | solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                            | ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                                            | pharetras loremos.
                                        .product__details__tab__content__item
                                            h5 Products Infomation
                                            p= product.description
                                #tabs-6.tab-pane(role='tabpanel')
                                    .product__details__tab__content
                                        .product__details__tab__content__item
                                        .product__details__tab__content__item
                                #tabs-7.tab-pane(role='tabpanel')
                                    .product__details__tab__content
                                        p.note
                                        .product__details__tab__content__item
                                        .product__details__tab__content__item
    // Shop Details Section End
    // Related Section Begin
    section.related.spad
        .container
            .row
                .col-lg-12
                    h3.related-title Related Product
            .row
                .col-lg-3.col-md-6.col-sm-6.col-sm-6
                    .product__item
                        .product__item__pic.set-bg(data-setbg='/img/product/product-1.jpg')
                            span.label New
                            ul.product__hover
                                li
                                    a(href='#')
                                        img(src='/img/icon/heart.png' alt='')
                                li
                                    a(href='#')
                                        img(src='/img/icon/compare.png' alt='')
                                        span Compare
                                li
                                    a(href='#')
                                        img(src='/img/icon/search.png' alt='')
                        .product__item__text
                            h6 Piqu&eacute; Biker Jacket
                            a.add-cart(href='#') + Add To Cart
                            .rating
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            h5 $67.24
                            .product__color__select
                                label(for='pc-1')
                                    input#pc-1(type='radio')
                                label.active.black(for='pc-2')
                                    input#pc-2(type='radio')
                                label.grey(for='pc-3')
                                    input#pc-3(type='radio')
                .col-lg-3.col-md-6.col-sm-6.col-sm-6
                    .product__item
                        .product__item__pic.set-bg(data-setbg='/img/product/product-2.jpg')
                            ul.product__hover
                                li
                                    a(href='#')
                                        img(src='/img/icon/heart.png' alt='')
                                li
                                    a(href='#')
                                        img(src='/img/icon/compare.png' alt='')
                                        span Compare
                                li
                                    a(href='#')
                                        img(src='/img/icon/search.png' alt='')
                        .product__item__text
                            h6 Piqu&eacute; Biker Jacket
                            a.add-cart(href='#') + Add To Cart
                            .rating
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            h5 $67.24
                            .product__color__select
                                label(for='pc-4')
                                    input#pc-4(type='radio')
                                label.active.black(for='pc-5')
                                    input#pc-5(type='radio')
                                label.grey(for='pc-6')
                                    input#pc-6(type='radio')
                .col-lg-3.col-md-6.col-sm-6.col-sm-6
                    .product__item.sale
                        .product__item__pic.set-bg(data-setbg='/img/product/product-3.jpg')
                            span.label Sale
                            ul.product__hover
                                li
                                    a(href='#')
                                        img(src='/img/icon/heart.png' alt='')
                                li
                                    a(href='#')
                                        img(src='/img/icon/compare.png' alt='')
                                        span Compare
                                li
                                    a(href='#')
                                        img(src='/img/icon/search.png' alt='')
                        .product__item__text
                            h6 Multi-pocket Chest Bag
                            a.add-cart(href='#') + Add To Cart
                            .rating
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                            h5 $43.48
                            .product__color__select
                                label(for='pc-7')
                                    input#pc-7(type='radio')
                                label.active.black(for='pc-8')
                                    input#pc-8(type='radio')
                                label.grey(for='pc-9')
                                    input#pc-9(type='radio')
                .col-lg-3.col-md-6.col-sm-6.col-sm-6
                    .product__item
                        .product__item__pic.set-bg(data-setbg='/img/product/product-4.jpg')
                            ul.product__hover
                                li
                                    a(href='#')
                                        img(src='/img/icon/heart.png' alt='')
                                li
                                    a(href='#')
                                        img(src='/img/icon/compare.png' alt='')
                                        span Compare
                                li
                                    a(href='#')
                                        img(src='/img/icon/search.png' alt='')
                        .product__item__text
                            h6 Diagonal Textured Cap
                            a.add-cart(href='#') + Add To Cart
                            .rating
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            h5 $60.9
                            .product__color__select
                                label(for='pc-10')
                                    input#pc-10(type='radio')
                                label.active.black(for='pc-11')
                                    input#pc-11(type='radio')
                                label.grey(for='pc-12')
                                    input#pc-12(type='radio')
        //- Related Section End

        //- Shop Section End
        section.latest.spad
            .container
                .row
                    .col-lg-12
                .row
                    .col-lg-4.col-md-6.col-sm-6
                        .blog__item
                    .col-lg-4.col-md-6.col-sm-6
                        .blog__item
                    .col-lg-4.col-md-6.col-sm-6
                        .blog__item